
/* Css que se aplica a toda la app */
body {
  padding: 0;
  margin: 0;
}

/* aqui cree la grilla básica */
.appGrid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Css para el Navbar */
.custom-navbar {
  background: linear-gradient(135deg, #f7b733, #fc4a1a);
  border-bottom: 5px solid;
  border-image: linear-gradient(45deg, #fc4a1a, #f7b733) 1;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(50deg);
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  animation: spin 5s linear infinite;
}

.btn1:hover {
  border: 1px solid #521b0b !important;
  color: #521b0b !important;
  background-color: rgba(237, 193, 48, 0.521);
  border-radius: 5px;
  font-size: 1.1rem;
}

.btn2 {
  border: 3px solid rgba(237, 193, 48, 0.521) !important;
  color: white !important;
  border-radius: 5px;
}

.btn2:hover {
  border: 5px solid rgba(249, 203, 50, 0.571) !important;
  background-color: rgba(234, 220, 18, 0.619);
  font-size: 1.1rem;
}

/* Css para el footer */

.custom-footer {
  border-top: 5px solid;
  border-image: linear-gradient(45deg, #fc4a1a, #f7b733) 1;
}

/* Css CardPizza */

ul {
  list-style-type: none;
}

.custom-btns {
  display: flex;
  justify-content: space-between;
}

.custom-card {
  border: 2px solid #521b0b !important;
}

.custom-card:hover {
  border: 3px solid #f7b733 !important;
}

.btnSeeMore,
.btnAddPizza {
  position: relative;
  overflow: hidden;
  border: 2px solid #521b0b !important;
  color: #772a13 !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 150px;
  background-color: transparent !important;
  z-index: 1;
}

.btnSeeMore::before,
.btnAddPizza::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f3cb4aca;
  transition: left 0.5s ease;
  z-index: -1;
}

.btnAddPizza::before {
  background-color: #fc4b1ab4;
}

.btnSeeMore:hover::before,
.btnAddPizza:hover::before {
  left: 0;
}