
/* Css que se aplica a toda la app */
body {
  padding: 0;
  margin: 0;
}

/* aqui cree la grilla básica */
.appGrid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Css para el Navbar */
.custom-navbar {
  background: linear-gradient(135deg, #f7b733, #fc4a1a);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(50deg);
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  animation: spin 5s linear infinite;
}

.btn1:hover {
  border: 1px solid #fc4a1a !important;
  color: red !important;
  background-color: rgba(237, 193, 48, 0.521);
  border-radius: 5px;
  font-size: 1.1rem;
}

.btn2 {
  border: 3px solid rgba(237, 193, 48, 0.521) !important;
  color: white !important;
  border-radius: 5px;
}

.btn2:hover {
  border: 5px solid rgba(249, 203, 50, 0.571) !important;
  background-color: rgba(234, 220, 18, 0.619);
  font-size: 1.1rem;
}

